@model Code_Genrator.Models.HomeViewModel
<table>

    <tr>
        <td>
            <label>Info</label>
            <textarea style="height:300px;">@Model.InfoCode</textarea>
        @*</td>
        <td>*@
            <label>Manager</label>
            <textarea style="height:300px;">@Model.ManCode</textarea>
        </td>
    </tr>

    <tr>
        <td>
            <label>Repo</label>
            <textarea style="height:300px;">@Model.RepoCode</textarea>
        @*</td>
        <td>*@
            <label>Insert Procedure</label>
            <textarea style="height:300px;">@Model.InsertProc</textarea>
        </td>
    </tr>

    <tr>
        <td>
            <label>Update Procedure</label>
            <textarea style="height:300px;">@Model.UpdateProc</textarea>
        @*</td>

        <td>*@
            <label>Select Procedure</label>
            <textarea style="height:300px;">@Model.SelectProc</textarea>
        </td>
    </tr>

    <tr>
        <td>
            <label>Select by Id Model</label>
            <textarea style="height:300px;">@Model.SelectProcById</textarea>
        @*</td>
        <td>*@
            <label>View Model</label>
            <textarea style="height:300px;">@Model.ViewModelCode</textarea>
        </td>
    </tr>

    <tr>
        <td>
            <label>Delete Procedure</label>
            <textarea style="height:300px;">@Model.DeleteProc</textarea>

            <label>Ajax View Model</label>
            <textarea style="height:300px;">@Model.AjaxViewModel</textarea>
        </td>
    </tr>

    <tr>
        <td>
            <label>Printable View </label>
            <textarea style="height:300px;">@Model.PrintableView</textarea>

          
        </td>
    </tr>

</table>



