

<label>Id</label> @Model.tblUserMaster.Id

<label>UserName</label> @Model.tblUserMaster.UserName

<label>Password</label> @Model.tblUserMaster.Password

<label>Linkedwith</label> @Model.tblUserMaster.Linkedwith

<label>Active</label> @Model.tblUserMaster.Active